@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400&family=Poppins:ital,wght@0,200;0,300;0,400;1,300&display=swap');
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-family:'poppins', sans-serif;
}
.nav-buttons{
    margin-left: 60%;
}
h1{
    font-size: 2.5rem;
    font-weight: 700;
}
h2{
    font-size: 1.8rem;
    font-weight: 600;
}
h3{
    font-size: 1.5rem;
    font-weight: 800;
}
h4{
    font-size: 1.2rem;
    font-weight: 600;
}
h5{
    font-size: 1rem;
    font-weight: 400;
}
h6{
    color: #ffffff;
}
.navbar{
    font-size:20px;
    top:0;
    left:0; 
    justify-content: center !important; 
}
.navbar-light .navbar-nav .navbar-link{
    padding:0 2px;
    color: #000;
    transition: 0.4s ease;
}
.navbar-light .navbar-nav .nav-link:hover, 
.nav-bar i:hover, 
.navbar-light .navbar-nav .nav-link.active
.navbar i:hover{
    color:coral;
}
.navbar i{
    font-size:1.2rem;
    padding:0 0.7;
    transition: 0.4s ease;
    font-weight: 500;
    cursor: pointer;
    margin-left: 5px;
}
#home{
    background-color: beige; /*url(../imgs/nameof image) if image*/
    width: 100%;
    height:100vh;
    background-size: cover;
    /*background-position-x:90px;
    background-position-y:80px;*/
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

button{
    font-size: 0.8rem;
    font-weight: 900;
    outline: none;
    border:none;
    background-color: #27143a;
    color:aliceblue;
    padding: 13px 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s ease;
}
button:hover{
    background-color:rgb(76, 39, 119);
}
#categories.one img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
}
#categories .one{
    position: relative;
}
#categories .one .details{
    position: absolute;
    top:0px;
    left:0px;
    color:burlywood;
    font-weight: bold;
    transition: 0.4s ease;
    opacity: 0.7;
    background-color: rgb(1,1,1);
    width: 100%;
    height: 100%;
}
#categories .one .details:hover{
    background-color: cornsilk;
}
#categories .one:nth-child(1) .details{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}
#categories .one:nth-child(2) .details{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}
#categories .one:nth-child(3) .details{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}
#categories .one:nth-child(4) .details{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}
#categories .one:nth-child(5) .details{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}
#categories .one:nth-child(6) .details{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}
/*all-products*/
.product{
    cursor: pointer;
    margin-bottom: 2rem;
}
.product img{
    transition: 0.3s all;
}
.product:hover img{
    opacity: 0.7;
}


.product-info input:focus {
    outline: none;
}

.product-info input {
    width : 50px ;
    height: 40px ;
    padding-left: 10px ;
    font-size: 16px;
    margin-right: 10px;
}

footer{
    background-color: #222222;
}
footer h5{
    color: #D8D8D8;
    font-weight: 700;
    font-size: 1.2rem;
}
footer .copyright a{
    color:#000;
    height: 40px;
    width:40px;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    transition: 0.3s ease;
    margin: 0 5px;
}
footer .copyright a:hover{
    color:white;
    background-color: #fb774b;
}
footer p{
    color:white;
}
.logo{
    width: 50px;
    height: 50px;
}
.navbar .brand{
    color: coral;
    margin: 3px 5px;
    font-size: 1.5rem;
}
/*cart*/
.cart table{
    width:100%;
    border-collapse: collapse;
}
.cart .product-info{
    display: flex;
    flex-wrap:wrap;
}
.cart th{
    text-align: left;
    padding: 5px 10px;
    color: white;
    background-color: #fb774b;
}
.cart td{
    padding: 10px 20px;
}
.cart td img{
    width:80px;
    height: 80px;
    margin-right:10px;
}
.cart td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
.cart td a{
    color: #fb774b;
}
.cart .remove-btn{
    color: #fb774b;
    text-decoration: none;
    font-size: 14px;
    background-color: white ;
    border: none;
    width: 100% ;
}
.cart .edit-btn{
    color: #fb774b;
    text-decoration: none;
    font-size: 15px;
    background-color: white;
    border: none;
}
.cart .product-info p{
    margin: 3px;
}
.cart-total{
    display: flex;
    justify-content: flex-end;
}
.cart-total table{
    width: 100%;
    max-width: 500px;
    border-top: 3px solid #fb774b;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
.checkout-container{
    display: flex;
    justify-content: flex-end;
}
.checkout-btn{
    background-color: #fb774b;
    color: white;
}
/*login*/
#login-form{
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #fb774b;
}

#login-form input{
    width: 50%;
    margin: 5px auto;
}
#login-form #login-btn{
    background-color: #fb774b;
    color: white;
}
#login-form #register-url{
    color: #fb774b;
}

/*regsiter*/
#register-form{
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #fb774b; 
}
#register-form input{
    width: 50%;
    margin: 5px auto;
}
#register-form #register-btn{
    background-color: #fb774b;
    color: white;
}
#register-form #login-url{
    color: #fb774b;
}

/*checkout*/
#checkout-form .checkout-small-element{
    display: inline-block;
    width: 48%;
    margin:10px auto;
}
#checkout-form .checkout-large-element{
    width: 96%;
}
#checkout-form .checkout-btn-container{
    margin: 10px;
    text-align: right;
    margin-right:40px ;
}
#checkout-form #checkout-btn{
    color:white;
    background-color: #fb774b;
}

/*contactUs*/
#contact span{
    color:#fb774b;
}

:root{
    --green:#27ae60;
    --black:#333;
    --white:#fff;
    --bg-color:#eee;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.1rem solid var(--black);
 }

 .orders table {
    width : 100% ;
    border-collapse: collapse ;
 }

 .orders .product-inf{
    display : flex ;
    flex-wrap: wrap;
 }

 .orders th{
    text-align: left ;
    padding: 5px 10px;
    color: #fff;
    background-color: #fb774b;
 }

 .orders td {
    padding: 10px 20px;
 }